dist:     trusty

sudo:     required

language: c

os:
    - linux

compiler:
    - gcc

env:
    global:
        - CODECOV_TOKEN='73c6423c-dc82-42d0-b242-38d3f5f77f7c'

install:
  - sudo apt-get install valgrind
  - sudo apt-get install cppcheck
  - sudo apt-get install libgtest-dev
  - sudo apt-get install cmake
  - cd /usr/src/gtest
  - sudo cmake CMakeLists.txt
  - sudo make
  - sudo cp *.a /usr/lib
  - cd ../..

before_script:
    - mkdir build
    - cd build

script:
    - cmake ..
    - make
    - valgrind ./mylib_tests
    - cd ..
    - cppcheck --inconclusive --enable=all --language=c ./mylib.c ./main.c

after_success:
  - bash <(curl -s https://codecov.io/bash)